name: Publish Package

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci
      - name: Sync package version to tag
        run: |
          TAG_VERSION='${{ github.ref_name }}'
          TAG_VERSION=${TAG_VERSION#v}
          if [ -z "$TAG_VERSION" ]; then
            echo "No tag version found."
            exit 1
          fi
          npm version --no-git-tag-version "$TAG_VERSION"
      - run: npm test --if-present
      - run: npm publish
